<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="/tmp/nlog-internal.log">

    <extensions>
        <add assembly="NLog.Targets.Journald"/>
    </extensions>

    <targets>
        <target xsi:type="Journald" name="journald" layout="${logger} ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="journald" />
    </rules>

</nlog>