<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="/tmp/nlog-internal.log">

    <extensions>
        <add assembly="NLog.Targets.Journald" />
    </extensions>

    <targets>
        <target xsi:type="Journald" name="journald">
            <!-- mandatory -->
            <layout>"${logger} ${message}"</layout>
            <!-- optional -->
            <sysLogIdentifier>demosvc</sysLogIdentifier>
            <!-- optional, multiple allowed -->
            <static-field key="DEMO_KEY1" value="value1" />
            <!-- since Journald only accepts upper case letters, numbers and underscores, 
                 key value is always converted to upper case --> 
            <static-field key="Demo_Key2" value="value2" />
        </target>
    </targets>
    
    <rules>
        <logger name="*" minlevel="Trace" writeTo="journald" />
    </rules>

</nlog>